body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label, textarea {
    display: block;
    margin-bottom: 10px;
}

textarea {
    resize: none;
}

#characterCount {
    font-size: 12px;
    color: #999;
}
